* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.5px;
  border-color: var(--grey);
  transition: all 0.3s ease;
}
.page-pad{
  padding-left: 4% ;;
  padding-right:4% ;;
}
:root {
  --orange: #F2A365;
  --blue: #30475E;
  --red: #F40552;
  --black: #222831;
  --white: #F8F8F8;
  --grey: #eeeeee;
  --lg-head: 2rem
}

img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.black {
  background-color: #0c121cde;
}

.white {
  background-color: var(--white)
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.border {
  border: 1px solid rgba(12, 18, 28, .28);
}

.borderbtm {
  border-bottom: 1px solid rgba(12, 18, 28, .38);
}

.borderbtmwhite {
  border-bottom: 1px solid #F8F7F7;
}

.light {
  font-weight: 200;
}

.med {
  font-weight: 400;
}

.bold {
  font-weight: 600;
}

.bolder {
  font-weight: 800;
}
.fw-100{
  font-weight: 100;
}
.fw-200{
  font-weight: 200;
}
.fw-300{
  font-weight: 300;
}
.fw-400{
  font-weight: 400;
}
.fw-500{
  font-weight: 500;
}
.fw-600{
  font-weight: 600;
}
.fw-700{
  font-weight: 700;
}
.fw-900{
  font-weight: 900;
}
.fw-300-i{
  font-weight: 300;
  font-style: italic;
}
.red {
  background-color: #f7444e;
}

.whitetext {
  color: #f9f9f9;
}

.inline {
  display: inline-block
}
.border-line{
  width: 100%;
  display: block;
  opacity: 0.5;
  margin: 15px 0;
  height: 1px;
}
.logo {
  cursor: pointer;
  margin-bottom: 3px;
  font-size: 35px;
  padding: 10px;
  color: #303030;
}

.boxradius {
  border: 0px;
  border-radius: 15px;
}

a {
  color:var(--black);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}
a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: var(--red);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover:after {
  width: 100%;
  left: 0;
}
li, a, button {
  text-decoration: none;
  list-style-type: none;
}

.boxshd, .shd {
  transition: all 0.3s ease;
  transform: scale(1);
  box-shadow: 0 3.3px 5.3px rgba(0, 0, 0, 0.087), 0 11.2px 17.9px rgba(0, 0, 0, 0.123);
}

/*.navbar a{font-weight: 100;}*/
.selected {
  padding-bottom: 5px;
  border-bottom: 1px solid var(--black);
}

body{
  color: var(--black)
}
header {
  background: var(--white);
  position: fixed;
  top: 0;
  transition: top 0.2s ease-in-out;
  display: flex;
  justify-content: space-between;
  padding: 1% 4%;
  width: 100vw;
  flex:1;
  flex-wrap: wrap;
  align-items: center;
  z-index: 999
}
header p{
  display: inline-block;
  margin: 0 6px;
}
.nav-up {
  top: -40px;
}
.full-section{
  height: 100vh;
  width: 100%;
}
.auto-section{
  width: 100%;
  height: 100%
}
.main-wrap{
  flex-direction: column;
  justify-content: center;
}
.main-image-bg{
  height: inherit;
  width: inherit;
}
.main-image-bg img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.main-text{
  position: absolute;
  align-self: flex-end;
  font-size: 2.5rem;
  width: 50%;
  text-align: right;
  padding: 10%;
  letter-spacing: 1.2px;
}
@media only screen and (max-width:768px){
  .main-text{
    font-size: 1.5rem;
    width: 75%;
  }
}
.featured-container {
  justify-content: space-around;
  padding-top: 3%;
  padding-bottom: 3%;
}
.featured-box{
  height: 275px;
  width: 275px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  background-color: var(--grey);
}
.featured-box a{
  letter-spacing: 2px;
}
.new-container{
  text-align: center;
  padding-top: 3%;
  position: relative;
  padding-bottom: 3%;
}
.new-container h1{
  font-size: var(--lg-head);
}
.new-box{
  min-height: 250px;
  width:250px ;
  justify-content: center;
  padding: 5%;
  position: relative;
  background-color: white;
}
.new-box img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.new-item-details{
  align-self: flex-end;
  /* position: absolute; */
}
.new-item{
  margin: 2px 0;
  letter-spacing: 1px;
  word-spacing: 2px;
}
.rs-symbol{
  margin-right:3px;
}
.new-item-price{
  color:var(--red);
  letter-spacing: 2px;
}
.fa-arrow-left,.fa-arrow-right{
  position: absolute;
  font-size: 26px;
  cursor:pointer;
  opacity:0.7;
  color:var(--blue);
  top:calc(50%);
}
.fa-arrow-left:hover,.fa-arrow-right:hover{
  opacity:1;
}
.fa-arrow-left{
  left:20px
}
.fa-arrow-right{
  right:20px
}
.review-container{
  margin:5% 10%;
}
.review-slider{
  height: 200px;
  width: 200px;
}
.fa-star,.fa-star-half-alt{
  color:var(--orange)
}
.review-arrows{
  float: right;
}
#review-right,#review-left{
  cursor: pointer;
  margin: 0 5px;
  opacity: 0.8;
  color:var(--blue);
  font-size: 26px;
}
#review-right:hover,#review-left:hover{
  opacity: 1;
}
.stars-date .stars{
  display: inline-block;

}
.stars-date .date{
  float: right;
  display: inline-block;
}
.review-detail-box{
  width: 300px;
  min-height: 200px;
  max-height: 300px;
  flex-direction: column;
  margin: 0 50px;
  padding: 10% 7%;
  flex-wrap: nowrap;
  /* overflow-y: scroll; */
}
.review{
  align-self: flex-end;
  text-align-last: right;
}
.review-heading{
  margin: 10px 0;
}
.review-image{
  display: inline-block;
  height: 75px;
  width: 30%;
  border-radius: 50px;
  overflow: hidden;
  float: left;
  border:0;
  margin-right: 10px;
  margin-bottom: 5px;

}
.reviewer-review{
  font-size: 14px;
  word-break: break-all;
}
.review img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.reviewer{
  font-size: 13px;
  margin: 10px 0;
}
.review p{
}

/* fifth wrap */
.fifth-wrap{
  justify-content: space-between;
  padding-top: 4% ;
  height: 100%
}
.wrap-image{
  height: 85vh;
  display: inline-block;
  width:85vh;
  background-color: white
}
.fifth-wrap-text{
  width: 50%;
  height: auto;
  display: inline-block;
  padding: 10% 8%;
}
.fifth-wrap-text h1{
  font-size: 2.2rem;
  word-spacing: 5px;
  letter-spacing: 3px;
  margin: 5% 0;
}
.fifth-wrap-text p{
  letter-spacing: 1px;
  font-size: 1.1rem;
  line-height: 2rem;
}
